.checkout-form-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 80px!important;
  padding: 20px;
}

.checkout-form {
  display: contents;
  flex-direction: column;
  gap: 20px;
}

.billing-address, .your-order {
  width: 45%;
}

.billing-address h2, .your-order h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

.order-summary {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  text-align: center;
}

.order-summary table {
    width: 100%;
    border-collapse: collapse;
}

.order-summary td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.order-summary td:first-child {
    font-weight: bold;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}


.discount-code{
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.discount-code h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.discount-code p{
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.discount-code input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .checkout-form-container {
        flex-direction: column;
        gap: 20px;
    }

    .billing-address, .your-order {
        width: 100%;
    }
}

